@media(min-width:1200px){
/* header */

.hemali{
    display: flex;
    width: 100%;
    flex-direction: unset;
}
.hemali .left{
    width: 69%;
    /* border: 1px solid red; */
}
.hemali .left p{
    font-size: 17px;
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    color: #333333;
    display:inline-block;
    margin-top:20px ;
    
    /* margin-left: 19%; */
    /* border: 1px solid red; */

}
.hemali .left .sel{
    margin-left: 16%;
    
}
.hemali .left .sele{
    margin-left: 23%;
    /* border: 2px solid; */
}
.hemali .left .sele2{
    margin-left: 19%;
}


.hemali  .head1 i{
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #868686;
    display:inline-block;
    margin:10px 0%;
    font-style: normal;
    margin-bottom: 15px;
    /* border: 1px solid green; */
}
.hemali  .head1 .cal{
    /* border: 1px solid; */
    margin-left :16%;
    font-weight: 300;


}
.hemali  .head1 .for{
    /* border: 1px solid; */
    margin-left :17.50%;
    font-weight: 300;
    


}
.hemali  .head1 .num{
    /* border: 1px solid; */
    margin-left :17%;
    font-weight: 300;
    

}
.hemali .right a i  {
    
    margin-top: 40px;
    color: blue;
    font-size: 13px;
    padding-right: 5px;
    
    /* border: 1px solid red; */
    
}
.hemali .right a {
    border: 1px solid red;
    color: blue;
    padding: 10px 10px;
    margin-left: 34%;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.hemali .right{
    width: 30%;
    /* border: 1px solid red; */
}
.hemali .right a:hover {
    background-color: #0f4c81;
    color: white;
    border: #0f4c81;
}
.hemali .right :hover i{
    color: white;
}

/* .header2 */
.parth{
    display: flex;
    width: 100%;
    flex-direction: unset;
    background-color: #0f4c81;
    top: 0px;
    z-index: 1;
    /* border: 2px solid red; */
}
.parth .left {
    width: 30%;
    /* border: 2px solid ; */
}
.parth .left h1{
    color: white;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    margin-left: 37%;
    font-size: 35px;
    margin-top: 15px;
    padding-bottom: 15px;
}
.parth .right {
    width: 69%; 
    /* border: 2px solid red; */
}
.parth .right ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content:start;
    margin-top: 30px; 
    /* border: 1px solid green; */

}
.parth .right ul li {
  margin-top: -5px;
  
    /* border: 1px solid; */
}
.parth .right ul li a {
    text-decoration: none;
    font-size: 17px;
    color: white;
    margin:0px 60px 0px 90px;
    /* border: 1px solid red; */
}
.parth .right ul li .abo{
    margin-left: 68%;
}
.parth .right ul li .con{
    margin-left: 135%;
}

/* .section1 */
.section1 .main{
    position: relative;
    width: 100%;
}
.section1 .main .img img{
    width: 100%;
    height:650px;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(65%);
    

}
.section1 .main .text{
    position: absolute;
    top: 155px;
    left: 180px;
    background-color: #fff;
    width: 37%;
    height: 370px;

}
.section1 .text p{
    color: #ffa372;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin-top: 5%;
    padding-left: 5%;  
}
.section1 .text h1{
    font-size: 35px;
    color: #2b4052;
    padding-left: 5%;
    padding-right: 10%;
    font-weight: 500;
    margin-top: 10px;
    font-family: 'Rubik', sans-serif;
    line-height: 45px;
}
.section1 .text .icon{
    margin-top: 5%;
}
.section1 .text a{
    font-size: 25px;
    margin-left: 30px;
    color: #ed6663;
}
.section1 .text .a1{
    margin-left: 13%;
}
.section1 .text .a2{
    margin-left: 13%;
}
.section1 .text .a3{
    margin-left: 15%;
}
.section1 .text .text1 p{
    color: #2b4052;
    font-size: 17px;
    display: inline-block;
    font-weight: 500;
    margin-left: -3px;
    /* position: absolute; */
}
.section1 .text .btn .check{
    color:white;
    background-color:#0f4c81;
    border: 2px solid #0f4c81;
    padding: 15px  29px;
    margin-top: 33px;
    font-size: 16px;
    margin-left: 26px;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
    border-top-left-radius: 3%;
}
.section1 .text .btn .check:hover{
    background-color: white;
   color: #0f4c81;
}
/* section2 */
.section2 {
    display: flex;
    flex-direction: unset;
    width: 100%;
    margin-top: 0%;
    background-color: #f7f7f7;
}
.section2 .left{
   width: 49%;
   /* border: 2px solid red; */
   
}
.section2 .left .img1 img{
   height: 500px;
   margin-left: 25%;
   padding: 9% 0px;
   width: 75%;
   
}

.section2 .right{
     width: 50%;
   /* border: 2px solid red; */

}
.section2 .right .text h2{
    margin-top: 14%;
    margin-left: 4%;
    font-size: 40px;
    color: #2b4052;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin-right: 30%;
}

.section2 .right .text p{
    margin-top: 2%;
    margin-left: 4%;
    font-size: 15px;
    margin-right: 27%;
    color: #777;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    line-height: 25px;
}

.section2 .right .text button{
    margin-top: 3%;
    margin-left: 4%;
    font-size: 17px;
    font-family: 'Rubik', sans-serif;
    padding: 15px 6%;
    background-color: #ed6663;
    color: #fff;
    border: 2px solid #ed6663;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.section2 .right .text button:hover{

    background-color: #0f4c81;
    border: 2px solid #0f4c81;
}
/* .section3 */
.section3 {
    display: flex;
    flex-direction: unset;
    width: 100%;
}
.section3 .left{
    width: 50%;
    /* border: 2px solid red; */
}
.section3 .left .img img{
    width: 50%;
    /* border: 2px solid red; */
}
.section3 .left .text p{
    width: 50%;
    /* border: 2px solid red; */
}
.section3 .left .img img{
    height: 390px;

}
.section3 .left .text  {
  margin-left: 50%;
 margin-top: -52%;
  background-color: #ed6663;
  height: 390px;
  color: white;
  font-family: 'Rubik', sans-serif;
}
.section3 .left .text a i{
    text-align: center;
    font-size: 35px;
    margin-left: 43%; 
    padding: 40% 0px;
    
}
.section3 .left .text p{
    text-align: center;
    margin-left: 23%;
    font-size: 22px;
    margin-top: -33%;
}
.section3 .left .text p:hover{
    color: #0f4c81;
}

.section3 .right{
    width: 50%;
    /* border: 2px solid rgb(66, 13, 157); */
}
.section3 .right .img1 img{
    width: 50%;
}
.section3 .right .img1 img{
    height: 390px;
}
.section3 .right .text1 {
    width: 50%;
    /* border: 2px solid red; */
}
.section3 .right .text1{
    margin-top: -52%;
    margin-left: 50%;
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
    height: 390px;
}
.section3 .right .text1 a i{
    font-size: 40px;
    padding: 30% 40%;
}
.section3 .right .text1 .p1{
    padding: 0% 34%;
    margin-top: -25%;
    font-weight: 300;
    font-size: 23px;
    color: #333333;
    font-family:'Rubik', sans-serif ;
    
}
.section3 .right .text1 .p1:hover{
    color: #2b4052;
}
.section3 .right .text1 p{
    font-size: 15px;  
    margin-top: 3%;
    padding-left: 14%;
    padding-right: 16%;
    color: #777;
    font-weight: 100;
    line-height: 24px;

}
/* .section4 */

.section4 {
    display: flex;
    flex-direction: unset;
    width: 100%;
    /* border: 3px solid; */
}
.section4 .left{
    width: 50%;
    /* border: 1px solid red; */
}
.section4 .left .text .p2{
    font-size: 40px;
    color: #2b4052;
    padding: 0% 20%;
    margin-top: 15%;
    font-family: 'Rubik', sans-serif;
}
.section4 .left .text p{
    font-size: 16px;
    color: #777;
    margin: 0%;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 25%;
    line-height: 25px;
    font-weight: 300;
    font-family:  'Rubik', sans-serifx;
}
.section4 .left .text button{
    margin-top: 3%;
    margin-left: 20%;
    font-size: 17px;
    font-family: 'Rubik', sans-serif;
    padding: 15px 6%;
    background-color: #ed6663;
    color: #fff;
    border: 2px solid #ed6663;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.section4 .left .text button:hover{
    background-color: #0f4c81;
    border: 2px solid #0f4c81;
}
.section4 .right{
    width: 50%;
    /* border: 2px solid red; */
}
.section4 .right .img{
    height: 400px;
    width: 100%;
 } 
 
.section4 .right .img img{
   height: 400px;
   width: 100%;
   padding-bottom: 0px;
   background-size: cover;
   /* border: 3px solid green; */
} 

/* .section5 */
.section5{
    display: flex;
    flex-direction: unset;
    width: 100%;
}
.section5 .left{
    width: 50%;
    /* border: 1px solid red; */
}
.section5 .left .img {
    height: 350px;
    width: 100%;
}
.section5 .left .img img{
    height: 350px;
    width: 100%;
    padding-bottom: 0px;
    background-size: cover;
    /* border: 3px solid green; */
 } 
 
.section5 .right{
    width: 50%;
    
    background-color: #ffa372;
}
.section5 .text .text1{
    width: 50%;
    color: white;
    /* border: 2px solid red; */
}
.section5 .text .text1 h3{
    margin-top: 8%;
    margin-left: 5%;
    font-size: 24px;
    font-weight: 400;
}
.section5 .text .text1 h3:hover{
    color: #0f4c81;
    transition: 1s all ease;
}
.section5 .text .text1 p{
    font-size: 17px;
    margin-left: 5%;
    margin-top: 5%;
    line-height: 25px;
    padding-right: 7%;
}
.section5 .text .text2{
    width: 50%;
    color: white;
    margin-left: 50%;
    margin-top: -16%;
    /* border: 2px solid red; */
}

.section5 .text .text2 h3{
    margin-top: -11%;
    margin-left: 5%;
    font-size: 25px;
    font-weight: 400;
} 
.section5 .text .text2 h3:hover{
    color: #0f4c81;
    transition: 1s all ease;
}
.section5 .text .text2 p{
    font-size: 17px;
    margin-left: 5%;
    margin-top: 4%;
    line-height: 25px;
    padding-right: 7%;
}

.section5 .text .text3{
    width: 50%;
    color: white;
    /* border: 2px solid red; */
    
}
.section5 .text .text3 h3{
    margin-top: 12%;
    font-size: 24px;
    font-weight: 400;
   margin-left: 5%;
}
.section5 .text .text3 h3:hover{
    color: #0f4c81;
    transition: 1s all ease;
}
.section5 .text .text3 p{
    font-size: 17px;
    margin-top: 4%;
    line-height: 25px;
    margin-left: 5%;
}

.section5 .text .text4{
    width: 50%;
    color: white;
    /* border: 2px solid red; */
    margin-left: 50%;
    margin-top: -11%;
}
.section5 .text .text4 h3{
    margin-top: -32%;
    font-size: 24px;
    font-weight: 400;
   margin-left: 5%;
}
.section5 .text .text4 h3:hover{
    color: #0f4c81;
    transition: 1s all ease;
}
.section5 .text .text4 p{
    font-size: 17px;
    font-size: 17px;
    margin-top: 4%;
    line-height: 25px;
    margin-left: 5%;
}

/* section6 */
.section6{
    background-color: #fff;
    width: 100%;
    /* border: 2px solid red; */
    padding-top: 5%;
}

.section6  .text h1{
   font-size: 33px;
   margin-left: 37%;
   font-weight:800;
   font-family: 'Rubik', sans-serif;
}
.section6 .text p{
    color: #777;
    font-size: 17px;
    margin-left: 43%;
    margin-top: 1%;
   font-family: 'Rubik', sans-serif;

}
.section6 .img  .gallry{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0% 13%;
    gap: 25px;
    margin-top: 3%;
    margin-bottom: 6%;
    position: relative;
}
.section6 .img .gallry .s1 img{
    height: 300px;
    width: 100%;
    
}
.section6 .img .gallry .text1{
    position: absolute;
    /* top: 0%; */
    margin-top: -16%;
    /* padding-top: 10%; */
    font-size: 23px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 900;
    color:white;
    /* border: 2px solid red; */
    margin-left: 13%;
    
} 
.section7 .image{
    background-image: url(img/b2.jpg);
    background-attachment: fixed;
    height: 440px;
    /* filter: brightness(70%); */
    position: relative;
}
.section7 .options .text{
    display: flex;
    flex-direction: unset;
    font-weight: 500;
    width: 100%;
    justify-content:center;
}
.section7 .options .text .left{
    background-color: #f7f7f7;
    font-size: 16px;
    margin-top: 6%;
    margin-left:0% ;
    padding: 1% 2% 1% 2%;
    color: #777;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    width: 24%;
    line-height: 25px;
    
}
.section7 .options .text .right{
    background-color: #f7f7f7;
    font-size: 16px;
    margin-top: 6%;
    margin-left:2% ;
    padding: 1% 2% 1% 2%;
    color: #777;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    width: 24%;
    line-height: 25px;

   
}
.section7 .options .text .bot{
    background-color: #f7f7f7;
    font-size: 16px;
    margin-top: 6%;
    margin-left:2% ;
    padding: 1% 2% 1% 2%;
    color: #777;
    line-height: 25px;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    width: 24%;
   
    
}
.section7 .text1{
    display: flex;
    flex-direction: unset;
    width: 100%;
    position: relative;
    background-color: white;
    border: 2px;
    margin-top: 10%;
    
}
.section7 .text1 img{
    border-radius: 50%;
    width: 23%;
    margin-top: 5%;
    
}
.section7 .jack{
 position: absolute;
 margin-left: 25%;
 margin-top: 8%;
 color: #676767;
 font-size: 16px;
font-weight: 400;
font-family: 'Rubik', sans-serif;
}
.section7 .jack p{
    font-size: 14px;
    color: #868679;
    font-weight: 400;
    line-height: 24px;
}
.section7 .text2{
    display: flex;
    flex-direction: unset;
    width: 100%;
    position: relative;
    background-color: white;
    border: 2px;
    margin-top: 10%;
    
}
.section7 .text2 img{
    border-radius: 50%;
    width: 23%;
    margin-top: 5%;
}
.section7 .jack2{
 position: absolute;
 margin-left: 26%;
 margin-top: 8%;
 color: #676767;
font-weight: 400;
font-family: 'Rubik', sans-serif;
}
.section7 .jack2 p{
    font-size: 14px;
    color: #868679;
    font-weight: 400;
    line-height: 24px;
}
.section7 .text3{
    display: flex;
    flex-direction: unset;
    width: 100%;
    position: relative;
    background-color: white;
    border: 2px;
    margin-top: 10%;
    
}
.section7 .text3 img{
    border-radius: 50%;
    width: 23%;
    margin-top: 5%;
}
.section7 .jack3{
 position: absolute;
 margin-left: 26%;
 margin-top: 8%;
 color: #676767;
font-weight: 400;
font-family: 'Rubik', sans-serif;
}
.section7 .jack3 p{
    font-size: 14px;
    color: #868679;
    font-weight: 400;
    line-height: 24px;
}
/* .section8 */
.section8 .options{
    display:flex;
    flex-direction: unset;
    position: relative;
    width: 100%;
    background-color:#212529;
    height: 320px;
    color: whitesmoke;
    padding-top: 6%;
    padding-left: 12%;
    
}
.section8 .options .right{
    /* position: absolute;  */
    width: 35%;
    /* border: 2px solid red; */
    
}
.section8 .options .right h2{
    font-size: 35px;
    color: #fff;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
}
.section8 .options .right p{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    color: #9b9fa2;
    line-height: 25px;
    margin-top: 20px;
    margin-left: 0px;
    font-weight: 500;
    
}
.section8 .options .left{
    width: 20%;
    /* border: 2px solid yellow; */
    margin-left: 2%;
    
}
.section8 .options .left ul{
    text-decoration: none;
   font-size: 17px;
   color: #f7f7f7;
   font-weight: 400;
   font-family: 'Rubik', sans-serif;
}
.section8 .options .left li{
   list-style: none;
   color: #9b9fa2;
   line-height: 5px;
   margin-top: 30px;
   
   font-family: 'Rubik', sans-serif;
}
.section8 .options .end{
    /* border: 2px solid red; */
    width: 30%;
    margin-left: 2%;
}
.section8 .options .end ul{
    text-decoration: none;
   font-size: 17px;
   color: #f7f7f7;
   font-weight: 400;
   font-family: 'Rubik', sans-serif;
}
.section8 .options .end li{
   list-style: none;
   color: #9b9fa2;
   line-height: 5px;
   margin-top: 30px;
   font-family: 'Rubik', sans-serif;
}
/* section9 */
.section9 .text{
    background-color:#1a1919;
    /* color: white; */
    font-size: 15px;
    color: #9b9fa2;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding: 20px;
}
.section9 .text span{
    color: white;
}
}
